:root {
    --default-background: #f7f7f8;
    --black: #081226
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color:  #f8f9fa;
    --text-color: #333;
    --border-color: #ddd;
    --background-notification-color: #ff0000fa;
    --notification-color: #fff;
    --title-color: #88888852;
    --link-color : #888
}

.notification-number{
    background-color: var(--background-notification-color);
    color: var(--background-color)
}

.good-morning-title{
    color: var(--link-color);
}

.stats-content h3{
    color: var(--link-color);
}

.look-sale{
    color: var(--link-color);
}